- if @medicine.errors.any?
    - @medicine.errors.each do |error|
        %p{ class: 'error' }= error.full_message
        - break

= form_with  model: @medicine do |form|
    %div{ class: 'd-grid' }
        = form.label :name
        = form.text_field :name
    %div{ class: 'd-grid' }
        = form.label :type_of
        = form.text_field :type_of
    %div{ class: 'd-grid' }
        = form.label :price
        = form.number_field :price, step: :any
    %div{ style: 'width: 200px; margin-top: 20px' }
        = form.submit